.color-BV {
    color: #2F7FCC;
}

.color-R {
    color: #CB546B;
}

.color-BL {
    color: #6C77C1;
}

.color-J {
    color: #BABD2F;
}

.color-N {
    color: #C2C2DA;
}

.color-N2 {
    color: #9292AA;
}

.color-PT {
    color: #2EBA7E;
}

.color-CE {
    color: #E88F4F;
}

.color-CEP {
    color: #F0A78E;
}

.color-CS {
    color: #EFCE8F;
}

.color-S {
    color: #CAA4CF;
}

.color-A {
    color: #E9E654;
}

.color-G {
    color: #606090;
}

.color-V {
    color: #009D9D;
}

.color-VP {
    color: #2ECF73;
}

.color-VI {
    color: #C53DFF;
}

.color-ROSE {
    color: #ED67EA;
}

.color-MATE {
    color: #ffd991;
}